.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.popup__body {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 20px;
}

.popup__content {
  position: relative;
  width: 535px;
  min-width: 500px;
  padding: 40px;
  background-color: $white;
  border-radius: 16px;
  box-shadow: 0px 4px 16px $card-box-shadow;
  z-index: 11;
}

.popup__close {
  position: absolute;
  top: -35px;
  right: -35px;

  width: 32px;
  height: 32px;
  border-radius: 50%;

  background-color: $white;
  color: transparent;
  
}

.popup__close span {
  position: relative;
  
  &:before {
    position: absolute;
    top: 9px;
    left: -14px;
    content: "";
    width: 19px;
    height: 2px;
    transform: rotate(45deg);
    background-color: $text-default;
  }
  &:after {
    position: absolute;
    bottom: 8px;
    left: -14px;
    content: "";
    width: 19px;
    height: 2px;
    transform: rotate(-45deg);
    background-color: $text-default;
  }
}

.popup__paragraph {  
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  color: $text-default;

  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.popup__title {  
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;

  color: $black;

  margin: 0;
  margin-bottom: 18px;
}