@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import "~normalize.css/normalize.css";
@import "vars";


// шаблонные стили
html {
  font-family: $Roboto;  
  font-size: $base-font-size;
  line-height: 24px;
  height: 100%;

  background-color: $grey-bg;
}

body {
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

*,
*::before,
*::after { box-sizing: border-box; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  display: block;
}

input,
button,
textarea,
select { font: inherit; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; }

button {
  display: inline-block;
  user-select: none;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 2px 10px 2px 20px;

  font-size: 14px;
  font-weight: 400;
  line-height: 22px;

  background: #FFFFFF;
  border-radius: 50px;

  filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.1));

  &:hover {
    filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.2));
  }
}

.btn__icon {
  padding-left: 15px;
}

.container {
  max-width: $content;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.show {
  display: block !important;
}


// Основные стили
.app__main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

@import "modules/header";
@import "modules/card";
@import "modules/popup";
@import "modules/sort";
