// Colors
$white: #fff;
$black: #000;
$hover: #00A6A3;
$text-default: rgba(0, 0, 0, 0.87);
$grey-text: rgba(0, 0, 0, .6);
$grey-bg: #E5E5E5;
$card-bonus: #00A6A3;
$card-status: #F4F5F6;
$card-hit: #FD8F00;
$card-box-shadow: rgba(0, 0, 0, 0.1);


// Sizes
$base-font-size: 16px;

$tablet: 768px;
$large: 1024px;
$desktop: 1280px;

$content: 1140px;

// Fonts
$Roboto: 'Roboto', sans-serif;

